<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lemayn.review"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".StandardActivity"/>
        <activity
            android:name=".TranslucentActivity"
            android:theme="@style/translucent"/>
        <!--自定义taskAffinity，单独创建一个任务栈-->
        <activity
            android:name=".SingleTaskActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.lemayn.review.custom"/>
        <activity
            android:name=".SingleTopActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".SingleInstanceActivity"
            android:launchMode="singleInstance"/>
    </application>

</manifest>